

@media (min-width: 1024.00px) and (max-width: 1399.98px){
        *{
            margin: 0;
            padding: 0;
        }

        body{
            font-size: 1em;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            background: #e6e6e6;
        }

        ul{
            display: block;
        }


        #formulario{
            max-width: 600px;
        }

        .form-control{
                height: 32px;
        }

        #validar-placa{
            font-size: 0.7em;
        }

        
        


        #escolha-tipo-field{
            position: relative;
            left: 190px;
        }

        #escolha-tipo-veiculo{
            display: inline;

        }

       

        #tipo-veiculo{
            display: inline;
        }

        #header-formulario{
            position: relative;

        }


        #menu-lateral{
            position: relative;
            top: 0px;
        }

        #anunciante-info{
            border: 1px solid gray;
            border-top-left-radius: 10px;
             border-top-right-radius: 10px;
        }


        .btn-lateral{
            border-bottom: 1px solid whitesmoke;
            cursor: pointer;
            background: #f0ad4e;
            border-left:1px solid gray;
            border-right:1px solid gray;
           
        }

        .btn-final{
             border-bottom-left-radius: 10px;
             border-bottom-right-radius: 10px;
             border-bottom: 1px solid gray;
        }

        .btn-lateral:hover{
            background: whitesmoke;
            transform: scale(1.03);
            box-shadow: 0 5px 15px rgba(0,0,0,0.6);

        }

        #img-logo-anunciante{
            border: 1px solid black;
            min-width: 160px;
            min-height: 80px;
        }



        







        #campo-marca{
            
        }



        #campo-modelo{
           
        }

        #campo-ano{
            
        }

        #campo-combustivel{
            
        }

        #campo-cor{
            
        }

        #campo-portas{
            
        }

        #campo-cambio{
           
        }


        #campo-ipva{
            

        }

        #campo-placa{
            

        }

        #placa{
            
        }



        #campo-valor{
            
        }



        #valor{
           
        }

        

        





        #itens-carros{
            position: relative;
            top: -750px;
            overflow: scroll;
            height:215px;
            background: white;

        }

        

        .etiqueta{
            position: relative;
            top: 30px;
            left: 0;
            z-index: -1;
            font-size: 0.9em;
        }

        .checkbox-itens-carros, input{
            position: relative;
            top: 5px;
            left: 40px;
            max-height: 50px;
        }

        .checkbox-itens-carros{
            position: relative;
            top: 5px;
            left: 40px;
        }



        .checkbox-itens-carros-aclive{
            position: relative;
            top: 5px;
            left: 10px;
        }

        .checkbox-itens-carros-ar-dual-zone{
            position: relative;
            top: 5px;
            left: 15px;
        }

        #ar-condicionado-digital-dual-zone{
            position: relative;
            top: 5px;
            left:15px;
        }

        .checkbox-itens-carros-ar-condicionado{
            position: relative;
            left: 15px;
            top:5px;
        }

        #ar-condicionado{
            position: relative;
            left:15px;
            top: 7px;
        }

        .checkbox-itens-carros-banco-apoio-braco{
              position: relative;
            left:15px;
            top: 5px;
        }

        #banco-apoio-braco{
            position: relative;
            left:15px;
            top: 7px;
        }

        .texto-checkbox{
              position: relative;
            left:10px;
            top: 5px;
        }

        .input-checkbox{
            position: relative;
            left: 10px;
            top:5px;
        }


        .texto-checkbox-2{
            position: relative;
            left:20px;
            top: 5px;
        }

        .input-checkbox-2{
            position: relative;
            left: 20px;
            top:5px;
        }






         .texto-checkbox-3{
            position: relative;
            left:25px;
            top: 5px;
        }


         .texto-checkbox-4{
            position: relative;
            left: 10px;
            top: 5px;
        }



         .input-checkbox-4{
            position: relative;
            left: 10px;
            top:5px;
        }












        .texto-checkbox-camera{
              position: relative;
            left:17px;
            top: 5px;
        }

        .input-checkbox-camera{
            position: relative;
            left: 17px;
            top:7px;
        }





        #assistente-saida-aclive{
            position: relative;
            top: 5px;
            left: 15px;
        }

        #salvar{
            position: relative;
            top: -700px;
            left: 800px;

        }




}